@import url('https://fonts.googleapis.com/css?family=Exo+2');

body {
	margin: 0px;
	padding: 0px;
	background-color: #0080B6;
}

h1 {
	text-align: center;
	font-size: 80px;
	margin-top: 100px;
	font-family: 'Exo 2', sans-serif;
}

.container  {
	margin: 0px;
	padding-top: 25px;
}

.game_container {
	margin-bottom: 100px;
	width: 470px;
	height: 520px;
	background-color: white;
	box-shadow: 0px 0px 40px #000;
}

.game {
	position: relative;
	width: 450px;
	height: 500px;
	top: 10px;
}

.game_images {
	display: none;
}